.widget.style1 ul.ttm-timelist-block li,
.widget.style1 ul.ttm-timelist-block li .service-time {
    color: inherit;
}
.widget.style1 ul.ttm-timelist-block li .service-time {
}
.widget.style1 ul.ttm-timelist-block li {
    font-size: 14px;
    line-height: 23px;
    padding: 14px 0 14px 0;
    border-bottom: 1px solid rgb(111 108 108 / 7%);
}

.widget ul.ttm-timelist-block li.selected {
    font-weight: 800;
}

.widget ul.ttm-timelist-block li.selected .service-time {
    color: var(--primary);
}

.announcements
    .featured-icon-box.icon-align-before-content.icon-ver_align-top
    .featured-content
    h4 {
    font-weight: 800;
}

.time-zone-table1 .table th .classes-days {
    line-height: inherit;
}

.time-zone-table1 .table th .classes-days.selected {
    color: var(--primary);
}

.actions select {
    width: auto;
    border-radius: 0.25rem;
}
.actions button {
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.announcements
    .featured-icon-box.icon-align-before-content.icon-ver_align-top
    .featured-icon {
    background-color: transparent;
}
.announcements
    .featured-icon-box.icon-align-before-content.icon-ver_align-top
    .featured-icon
    > div {
    background-color: #f3f3f3;
}

.announcements .featured-icon-box.style4 .featured-icon .ttm-icon i {
    font-size: 25px;
}
.announcements .featured-icon-box.style4 {
    min-height: 180px;
}

select {
    padding: 15px;
}

.visibility-hidden {
    visibility: hidden;
}

.ttm-pricing-plan .ttm-list {
    min-height: 257px;
}

.ttm-page-title-row-15 {
    background: url(../images/single-img-15.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ttm-page-title-row-16 {
    background: url(../images/single-img-16.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ttm-page-title-row-17 {
    background: url(../images/single-img-17.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ttm-page-title-row-24 {
    background: url(../images/single-img-24.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ttm-page-title-row-25 {
    background: url(../images/single-img-25.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ttm-page-title-row-26 {
    background: url(../images/single-img-26.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ttm-page-title-row-27 {
    background: url(../images/single-img-27.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ttm-page-title-row-28 {
    background: url(../images/single-img-28.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ttm-page-title-row-29 {
    background: url(../images/single-img-29.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ttm-page-title-row-30 {
    background: url(../images/single-img-30.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
